*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  align-items: stretch;
  display: flex;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input::file-selector-button {
}

main {
  flex-grow: 1;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}
